html, body {
    font-family: museo-sans, -apple-system, BlinkMacSystemFont, sans-serif;
    margin-left: 48px;
}

section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

h2 {
    font-size: 28px;
    color: #484848
}

div {
    
}

img {
    width: 274px;
    height: 274px;
    display: flex;
    border-radius: 1rem;
    overflow: border-box;
}

img:hover {
    cursor: pointer;
    transform: scale(1.15);
    transition-duration: 200ms;
}

.fmario, .flink, .fsplatoon, .fkirby, .fpikmin, .fanimcro, .fmetroid, .fpoke {
    position: relative;
    z-index: -1;
}

.mario, .link, .splatoon, .kirby, .pikmin, .animcro, .metroid, .poke {
    position: absolute;
    overflow: hidden;
}
