*{
    margin: 0;
}

body{
    font-family: museo-sans, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
.fondo{
    background-image: url(TOTK_TGA_BG_1.png);
    background-repeat: round;
    height: 450px;
}

.img-zelda{
    margin-left: 60px;
    margin-top: 30px;
    border-radius: 10px;
    width: 1400px;
}


.return{
    display: flex;
    margin-left: 60px;
    justify-content: space-between;
    margin-top: 100px;
    margin-right: 80px;
}

h2{
    color:rgb(72, 72, 72);
    vertical-align: baseline;
    margin-top: 25px;
}

.Learn{

    background-color: rgb(230, 0, 18);
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    padding: 0px 20px;
    border: none;
    border-radius: 10px;
}

.Learn:hover{
    background-color: rgb(172, 0, 13);
}

.clasificacion{
    cursor: pointer;
    font-size: 12px;
}

p{
    color: inherit;
    text-align: right;
}

.botones{
    display: inline-flex;
    color: #484848;
    align-content: center;
}

.pre-slide{
    border-radius: 50%;
}
.play-slide{
    border-radius: 50%;
}
.next-slide{
    border-radius: 50%;
}
