.HeadingNews {
  font-family: "museo-sans", sans-serif;
  color: rgb(72, 72, 72);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.4;
  margin-inline: -1%;
}

.fechasNews {
  font-weight: 300;
  line-height: 2.35;
  margin-top: 5px;
  margin-left: 5px;
}

.newsTitle {
  color: rgb(60, 60, 60);
  font-family: "museo-sans", sans-serif;
  min-height: 60px;
}

#news {
  font-family: "museo-sans", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: rgb(72, 72, 72);
  text-align: left;
  padding: 10px;
  margin-inline: 20%;
}

.miniNews {
  font-weight: bolder;
  font-size: 15px;
  min-height: 70px;
  max-height: 70px;
  overflow: hidden;
}

.wrapperNews {
  display: flex;
  flex-direction: column;
}

.imgFilaUno {
  height: 315px;
  width: 555px;
  border-radius: 15px;
}

.filaUno {
  display: flex;
  flex-grow: 1;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}
img {
  overflow: hidden;
}

#item-1 {
  margin-left: 0.5%;
  margin-right: 0.5%;
}
#item-2 {
  margin-left: 0.5%;
  margin-right: 0.5%;
}

#item-3 #item-4 #item-5 #item-6 {
  flex-direction: row;
}

.imgFilaDos {
  height: 147px;
  width: 262px;
  border-radius: 20px;
}

.filaDos {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5%;
}
.newsLink {
  line-height: 2, 35;
  color: #ff0000;
  font-weight: bolder;
}
.newsText {
  min-height: 40px;
  max-height: 40px;
  overflow: hidden;
  margin-bottom: 25px;
}

.item {
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  padding: 1%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}
#svgNews {
  transform: translate(-2px, 27.5%);
}

#NewsButton {
  cursor: pointer;
  flex-direction: row;
  text-decoration: none;
  letter-spacing: 1.2px;
  font-weight: bolder;
  background-color: #ff0000;
  display: inline-block;
  color: #fff;
  border-radius: 10px;
  padding-top: 7.5px;
  padding-bottom: 12.5px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  margin-top: -1.25%;
  margin-left: -1.5%;
}


#NewsButton:hover {
  animation: pulse 0.3s 1 ease-out alternate;
  background-color: #c80000;
  transition: background-color 0.4s;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scaleX(1.07) scaleY(1.02);
  }
  100% {
    transform: scale(1);
  }
}

