*, ::before, ::after {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    padding: 0px;
    margin: 0px;;
    font-family: var(--nintendo-font);
    font-size: 16px;
    line-height: var(--line-text);
    color: var(--color-font);
    -webkit-font-smoothing: antialiased;
}

.barraRojaFooter {
    display: grid;
    color: rgb(255, 255, 255);
    background-color: rgb(230, 0, 18);
    padding: 2.25rem 1rem;
    place-items: center end;
    -webkit-box-align: center;
}

.rrssLogos {
    display: grid;
    color: rgb(255, 255, 255);
    width: auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    place-items: center;
    -webkit-box-align: center;
}

.rrssLogos {
    max-width: 90rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

.rrssLogos a svg {
    display: block;
}

.footlistsFooter {
    background-color: rgb(255, 255, 255);
    padding: 2rem 1rem;
}

.allFootlistFooter {
    max-width: 90rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.allFootlistFooter1 {
    display: grid;
    grid-template-columns: 15.625rem;
    margin: 1rem auto;
    row-gap: 2rem;
    -webkit-box-pack: center;
    justify-content: center;
}

.divFootlistFooter1:first-child {
    grid-row: span 2;
}

.divFootlistFooter1 {
    border-left: 1px solid rgb(218, 218, 218);
    padding-left: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: var(--font-weight-nintendo);
    margin: 0px 0px 1em;
    padding: 0px;
    letter-spacing: 0px;
}

.aboutNintendoFooter {
    font-size: 1rem;
}

h2 {
    font-size: 1.125rem;
}

.linkAboutFooter, .linkAboutFooter1, .linkBarraNegraFooter {
    display: inline-block;
    color: rgb(230, 0, 18);
    background: transparent;
    margin: 0px;
    border: 0px;
    line-height: var(--line-text);
    border-radius: var(--border-radius);
    box-shadow: rgba(172, 0, 13, 0) 0px 0px 0px 4px;
    transition: box-shadow 200ms ease-in-out 25ms;
}

.linkAboutFooter:focus-visible, .linkAboutFooter:hover {
    color: rgb(172, 0, 13);
}

.linkAboutFooter1:focus-visible, .linkAboutFooter1:hover {
    color: rgb(172, 0, 13);
}

.linkAboutFooter:focus-visible, .linkAboutFooter:hover .spanAboutNintendo, .linkBarraNegraFooter:focus-visible, .linkBarraNegraFooter:hover .spanAboutNintendo {
    border-bottom-color: rgb(172, 0, 13);
    text-decoration: none;
}

.linkAboutFooter1:focus-visible, .linkAboutFooter1:hover .spanAboutNintendo {
    border-bottom-color: rgb(172, 0, 13);
    text-decoration: none;
}

.aboutNintendoFooter span {
    color: rgb(72, 72, 72);
    border-bottom-color: transparent;
    font-size: 1rem;
}

.spanAboutNintendo {
    position: relative;
    font-size: 0.875rem;
    font-weight: 700;
    padding-bottom: 0px;
    margin: 0px;
    border-bottom: 2px solid rgb(230, 0, 18);
    transition: border-bottom-color 200ms ease-in-out 25ms, color 200ms ease-in-out 25ms;
}

.ulAboutFooter {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

p, ol, ul {
    font-weight: 300;
    font-size: 0.875rem;
}

.linkAboutFooter1 {
    margin-bottom: 0.5rem;
}

.linkAboutFooter1 span {
    border-bottom-color: transparent;
}

.divFootlistFooter2 {
    grid-row: span 2;
    border-left: 1px solid rgb(218, 218, 218);
    padding-left: 1.5rem;
}

.divFootlistIcon {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 2rem;
    -webkit-box-align: center;
}

.linkIconFooter {
    display: block;
    grid-column: span 1;
    max-width: 4rem;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-self: center;
}

.svgIconFooter .cls-1 {
    fill: rgb(255, 255, 255);
}

.cls-1 {
    fill: #fff;
}

.svgIconFooter .cls-2 {
    fill: rgb(35, 31, 32);
}

.svgIconFooter .cls-3 {
    fill: rgb(8, 94, 169);
}

.svgIconFooter .cls-4 {
    fill: rgb(21, 16, 17);
}

.barraNegraFooter {
    color: rgb(255, 255, 255);
    background-color: rgb(36, 36, 36);
    padding: 2rem 1rem 114px;
    text-align: center;
}

.allBarraNegraFooter {
    max-width: 90rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.pBarraNegraFooter {
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.pBarraNegraFooter {
    margin: 0px;
    font-weight: 300;
    font-size: 0.625rem;
}

.pBarraNegraFooter span {
    display: block;
}

.infoBarraNegraFooter {
    display: inline-flex;
    gap: 1rem;
    justify-content: center;
    -webkit-box-pack: center;
}

.linkBarraNegraFooter {
    color: rgb(255, 255, 255);
}

.linkBarraNegraFooter span {
    font-size: 0.625rem;
    border-bottom-color: transparent;
}

.linkBarraNegraFooter:focus-visible, .linkBarraNegraFooter:hover {
    color: rgb(255, 255, 255);
}

.linkFlagTextFooter {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.spanFlagFooter {
    border: 1px solid white;
    border-radius: 0.25rem;
    overflow: hidden;
}

.spanFlagFooter img {
    display: block;
}

.spanFlagTextFooter {
    color: rgb(255, 255, 255);
    padding: 0px;
    font-size: 0.75rem;
    font-weight: var(--font-weight-nintendo);
    line-height: var(--line-text);
    margin-left: 0.5rem;
    border-bottom: 2px solid transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    transition: border-bottom-color 200ms ease-in-out 25ms, color 200ms ease-in-out 25ms;
}

.spanFlagTextFooter:focus-visible, .spanFlagTextFooter:hover {
    border-bottom-color: rgb(255, 255, 255);
}

@media (min-width: 429px) {
    .allFootlistFooter1 {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 1rem;
    }

    .aboutNintendoFooter {
        font-size: 1.125rem;
    }

    h2 {
        font-size: 1.3125rem;
    }

    .aboutNintendoFooter span {
        font-size: 1.125rem;
    }

    p, ol, ul {
        font-size: 1rem;
    }

    .spanAboutNintendo {
        font-size: 1rem;
    }

    .pBarraNegraFooter {
        font-size: 0.75rem;
    }

    .pBarraNegraFooter span {
        display: inline-block;
    }

    .linkBarraNegraFooter span {
        font-size: 0.75rem;
    }
}

@media (min-width: 768px) {
    .rrssLogos {
        width: 100%;
        grid-template-columns: auto repeat(4, 58px);
        justify-items: end;
    }

    .rrssLogos > :first-child {
        grid-column: span 1;
        justify-self: start;
    }

    .allFootlistFooter1 {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1025px) {
    .allFootlistFooter1 {
        grid-template-columns: repeat(4, 1fr);
    }

    .divFootlistIcon {
        grid-template-columns: 1fr auto auto;
    }

    .linkIconFooter {
        grid-column: span 3;
        justify-self: end;
    }

    .barraNegraFooter {
        padding: 2rem 1rem;
    }

    .pBarraNegraFooter {
        max-width: unset;
        text-align: left;
    }

    .pBarraNegraFooter span {
        display: inline;
    }

    .infoBarraNegraFooter {
        justify-content: start;
        -webkit-box-pack: start;
    }
}

@media (min-width: 1440px) {
    .allFootlistFooter1 {
        grid-template-columns: repeat(6, 1fr);
        margin-left: -1rem;
    }
}