html, body { /*GENERAL*/
    font-family: museo-sans, -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0px;
}

.allFooter {
    
}

nav { /*Barra roja*/
    display: flex;
    flex: wrap;
}

.barraroja {
    background-color: rgb(230, 0, 18);
    margin:0px;
    height: 120.23px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

svg {
    color: white;
}

img, svg {
    cursor: pointer;
}

.logonintendo {
    margin-left: 230px;
}

.rrsslogos {
    margin-right: 220px;
    display: flex;
    flex-wrap: nowrap;
}

.rrsslogos svg {
    margin-right: 50px;
}

.Footlists { /*Lista de enlaces del Footer*/
    display: flex;
    margin: 1rem auto;
    row-gap: 2rem;
    justify-content: center;
    margin-top: 1rem;
    flex-wrap: wrap;
} 

span {
    border-left: 1px solid rgb(218, 218, 218);
    margin-right: 3rem;
}

.ParentsPrivacy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.About, .Shop, .Mynintendo, .Support, .Parents, .Community, .Privacy {
    text-decoration: none;
    color: rgb(72, 72, 72);
    font-size: 18px;
    margin-bottom: 1.25rem;
}

.About:hover, .Shop:hover, .Mynintendo:hover, .Support:hover, .Parents:hover, .Community:hover, .Privacy:hover {
    color: rgb(72, 72, 72);
}

li {
    font-size: 16px;
    transition: 75ms;
    margin-bottom: 0.75rem;
}

li:hover {
    border-bottom: 2px solid #AC000D;
    color: #AC000D;
}

ul {
    list-style:  none;
    color: rgb(230, 0, 18);
    font-weight: bold;
    cursor: pointer;
}

.SpanAbout {
    border-left: none;
}

.privacycert { /*Div del certificado de privacidad*/
   display: grid;
   justify-self: end;
   margin-right: 125px;
   margin-bottom: 1rem;
}

.barranegra { /*Barra negra (lo más abajo de la página)*/
    background-color: #242424;
    color: white;
    margin: 0px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 12px;
}

a {
    cursor: pointer;
    font-size: 12px;
}

.footer {
    text-decoration: none;
    font-weight: bold;
    margin-left: 5rem;
    margin-right: 1rem;
}

.contact, .website, .terms, .docs {
    transition: 75ms;
    align-self: center;
    margin-right: 1rem;
}

.contact:hover, .website:hover, .terms:hover, .docs:hover {
    border-bottom: 2px solid rgb(230, 0, 18);
}

.flag {
    border-radius: 2px;
    border-color: white;
    cursor: pointer;
    transition: 75ms;
}

b {
    margin-left: 0.75rem;
}

b:hover {
    border-bottom: 2px solid white;
    cursor: pointer;
}