*, ::before, ::after {
    box-sizing: border-box;
}

html style {
    height: var(--app-height);
}

html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: var(--nintendo-font);
    font-size: 16px;
    line-height: var(--line-text);
    color: var(--color-font);
    -webkit-font-smoothing: antialiased;
}

.navStyle {
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 1000;
}

.header1 {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    height: 52px;
    border-bottom: 1px solid rgb(218, 218, 218);
    background-color: rgb(255, 255, 255);
    position: relative;
    z-index: 100;
}

.leftBlock {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 1rem;
}

.leftBlock:first-child {
    flex: 1 1 0%;
}

.logoNintendo1 {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0px;
    transition: all 200ms ease-in-out 0s;
}

.logoNintendo1 * {
    color:inherit
}

.logoNintendo2 {
    position: absolute !important;
    overflow: hidden !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    width: 1px !important;
    height: 1px !important;
    border: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
}

.logoNintendo {
    width: 105px;
    height: 52px;
    background-color: rgb(230, 0, 18);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: white;
}

.searchText {
    font-family: var(--nintendo-font-search);
}

.lensSearchDropdown {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid rgb(72, 72, 72);
    height: 2.125rem;
    width: 100%;
}

.lensSearchDropdown:hover {
    transition-delay: 200ms;
    border-bottom: 1px rgb(230, 0, 18) solid;
}

.lensIcon:hover {
    transition-delay: 200ms;
    color: rgb(230, 0, 18);
}

.lensIcon:hover .lensIcon1 {
    transition-delay: 200ms;
    color: rgb(230, 0, 18);
}

.dropdownAllCategories.dropdownAllCategories.dropdownAllCategories:hover .dropdownAllCategories2  {
    transition-delay: 200ms;
    color: rgb(230, 0, 18);
}

.dropdownAllCategories.dropdownAllCategories.dropdownAllCategories:hover .arrowDropdown1 {
    transition: transform 200ms ease-in-out 25ms, color 200ms ease-in-out 25ms;
    color: rgb(230, 0, 18);
}

.lensSearch {
    width: 100%;
}

.lensIcon:hover .lensSearch, .lensSearch:hover .searchText::placeholder {
    transition-delay: 200ms;
    color: rgb(230, 0, 18);
}

.lensSearch:hover .searchText::placeholder{
    transition-delay: 200ms;
    color: rgb(230, 0, 18);
}

.lensIcon {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex: 1 1 0%;
    background: none;
    border: none;
    color: rgb(114, 114, 114);
    cursor: pointer;
    height: 100%;
    width: 100%;
    line-height: 1.5;
    padding: 0px;
    transition: color 200ms ease-in-out 25ms;
}

.lensIcon1 {
    color: rgb(72, 72, 72);
    transition: color 200ms ease-in-out 25ms;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1;
    margin: 0px;
}

button, select {
    text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
    appearance: button;
}

button {
    color: inherit;
}


.lensIcon span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.lensSearchDropdown svg {
    margin-right: 10px;
}

.spanDropdown {
    z-index: 9999;
    border: 0;
    clip-path: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    position: absolute;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
}

#dropdownHeader {
    flex-basis: 140px;
    flex-shrink: 0;
    box-sizing: border-box;
    position: relative;
}

.dropdownAllCategories {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: default;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    min-height: 38px;
    outline: 0!important;
    position: relative;
    -webkit-transition: all 100ms;
    transition: all 100ms;
    background-color: hsl(0, 0%, 100%);
    border-color: hsl(0, 0%, 80%);
    border-radius: var(--border-radius);
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 700;
    min-height: fit-content;
}

.dropdownAllCategories1{
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: grid;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-overflow-scrolling: touch;
    position: relative;
    overflow: hidden;
    padding: 2px 8px;
    box-sizing: border-box;
    padding: 0.125rem 0.25rem 0.125rem 0.5rem;
}

.dropdownAllCategories2 {
    grid-area: 1/1/2/3;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: hsl(0, 0%, 20%);
    margin-left: 2px;
    margin-right: 2px;
    box-sizing: border-box;
    color: rgb(72, 72, 72);
    margin-left: 0px;
    transition: color 200ms ease-in-out 25ms;
}

.dropdownAllCategories3 {
    background: 0;
    border: 0;
    caret-color: transparent;
    font-size: inherit;
    grid-area: 1/1/2/3;
    outline: 0;
    padding: 0;
    width: 1px;
    color: transparent;
    left: -100px;
    opacity: 0;
    position: relative;
    -webkit-transform: scale(.01);
    -moz-transform: scale(.01);
    -ms-transform: scale(.01);
    transform: scale(.01);
}


.arrowDropdown {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    box-sizing: border-box;
}

.arrowDropdown1 {
    color: rgb(72, 72, 72);
    margin-right: 0.5rem;
    transition-property: transform, color;
    transition-delay: 25ms;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.leftBlock + .iconGroup {
    flex-shrink: 0;
}

.iconGroup {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 1.75rem;
    padding: 0px 1.25rem;
}

.iconGroup svg {
    color: inherit;
}

.supportList, .wishList, .cartList, .userList, .hiddenLogoNintendo, .hiddenFlagUSA1, .hiddenMenuButton, .hiddenWishListButton, .hiddenCartButton, .hiddenAccountButton {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0px;
    transition: all 200ms ease-in-out 0s;
}

.supportIcon, .wishIcon, .userIcon {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 0.375rem 0px 0px;
}


.supportList, .wishList, .cartList, .userList {
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
}

.supportText, .wishText, .cartText, .userText {
    font-weight: 700;
    font-size: 0.875rem;
}

.cartIcon1 {
    display: inline-flex;
    margin: 0px 0.5rem 0px 0px;
}

.cartIcon {
    display: grid;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    width: 20px;
    height: 20px;
    color: inherit;
}

.flagList {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.supportList:hover, .wishList:hover, .cartList:hover, .userList:hover {
    color: rgb(230, 0, 18);
}

.iconFlag {
    border-radius: 0.25rem;
    border: 1px solid white;
    overflow: hidden;
}

.iconFlag img {
    display: block;
}


.supportList:hover, .wishList:hover, .cartList:hover, .userList:hover {
    color: rgb(230, 0, 18);
}

.header2 {
    position: relative;
}

.totalGroup2Header1 * {
    color:inherit
}

.totalGroup2Header {
    display: flex;
    position: relative;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 44px;
    border-bottom: 1px solid rgb(218, 218, 218);
    background-color: rgb(255, 255, 255);
    z-index: 1;
}

.totalGroup2Header1 {
    display: flex;
    gap: 1rem;
    padding: 2px 0px 0px;
}

.group1Subheader, .group2Subheader, .group3Subheader, .group4Subheader, .group5Subheader, .group6Subheader {
    position: relative;
    padding: 0.75rem;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: all 200ms ease-in-out 0s;
}

.group1Subheader .group2Subheader .group3Subheader .group4Subheader .group5Subheader .group6Subheader  * {
    color: inherit;
}

.marioNintendoIcon, .snowflakeIcon, .directionalArrowsIcon, .joyConIcon, .newsAndEventsIcon, .starNintendoIcon {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 0.375rem 0px 0px;
}

.arrowMNS, .arrowGames, .arrowNintendoSwitch, .arrowStarNintendo {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin: 1px 0px 0px 0.5rem;
}

.arrowMNS .arrowGames .arrowNintendoSwitch .arrowStarNintendo svg {
    transition: transform 200ms ease-in-out 0s;
}

.totalGroup2Header2 {
    position: absolute;
    top: 44px;
    left: 0px;
    width: 100%;
    z-index: 50;
    background-color: rgb(255, 255, 255);
    height: 0px;
    overflow: hidden;
    transition: height 200ms ease-in-out 0s;
}

.totalGroup2Header2Dos {
    padding-top: 0.5rem;
    padding-bottom: 0.75rem;
    display: flex;
    flex-direction: column;
}

.totalGroup2Header2Tres1 {
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    padding-right: 1rem;
    padding-bottom: 0.25rem;
}

.totalGroup2Header2Tres1Uno {
    width: 1.625rem;
    height: 1.625rem;
    cursor: pointer;
    background: transparent;
    border: none;
    color: rgb(200, 200, 200);
    padding: 0px;
    transition: color 200ms ease-in-out 0s;
}

.totalGroup2Header2Tres2 {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    gap: 1.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1440px;
    min-width: calc(1025px - 2rem);
    margin: 0px auto;
}

.group1Subheader:hover, .group2Subheader:hover, .group3Subheader:hover, .group4Subheader:hover, .group5Subheader:hover, .group6Subheader:hover {
    color: rgb(230, 0, 18);
    transition: all 200ms ease-in-out 0s;
}

.header3 {
    visibility: hidden;
    opacity: 0;
    transition: opacity 200ms ease 0s;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
}

.hiddenNavHeader {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 46px;
    z-index: 1000;
    background-color: rgb(230, 0, 18);
    color: rgb(255, 255, 255);
}

.hiddenFlagUSA {
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.hiddenFlagUSA2 {
    display: block;
    width: 1.25rem;
    min-width: 1.25rem;
    height: 1.25rem;
    min-height: 1.25rem;
}

.hiddenFlagUSA3 {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.hiddenFlagUSA4 {
    border-radius: 0.25rem;
    border: 1px solid white;
    overflow: hidden;
}

.hiddenFlagUSA4 img {
    display: block;
}

.hiddenNavSubheader {
    width: 100%;
    height: calc(58px + 1rem);
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    position: fixed;
    bottom: 0px;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.hiddenNavSubheader1 {
    margin: auto;
    height: 58px;
    width: 96%;
    max-width: 440px;
}

.hiddenNavSubheader2 {
    position: relative;
    height: 58px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0.25rem 0.5rem 0px;
}

.hiddenMenuButton, .hiddenWishListButton, .hiddenCartButton, .hiddenAccountButton {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex: 1 1 auto;
    position: relative;
    height: 58px;
}

.hiddenSearchButton {
    margin-top: -1rem;
    width: 60px;
    height: 60px;
    background: rgb(230, 0, 18);
    border: none;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.hiddenCartIcon {
    display: grid;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    color: inherit;
}

.fullContentBanner {
    position: relative;
}

.fondoBanner {
    position: absolute;
    background: linear-gradient(rgb(25, 40, 95), rgb(60, 79, 150)) 0% 0% / cover repeat;
    width: 100%;
    height: calc(100% - 3.5rem);
    top: 0px;
    left: 0px;
    z-index: -1;
}

.grupoImgPrincipalBanner {
    margin: 0px auto;
}

.imgPrincipalBanner {
    position: relative;
    width: 100%;
}

.responsiveImgBanner {
    display: block;
    width: 100%;
    max-width: 90rem;
    margin: 0px auto;
    line-height: 0;
    min-height: 1px;
}

.responsiveImgBanner img {
    height: auto;
    width: 100%;
}

.fraseSubImgBanner {
    position: relative;
    width: 100%;
    scroll-margin-top: 120px;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
}

.divFraseSubImgBanner {
    max-width: 90rem;
    margin: 0px 1rem;
}

.divFraseSubImgBanner1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    gap: 1rem;
    -webkit-box-align: center;
}

.h2FraseBanner {
    color: rgb(255, 255, 255);
    font-weight: var(--font-weight-nintendo);
    line-height: 1.35;
    font-size: 1.3125rem;
    margin-block: 0px;
    text-align: center;
}

.botonRojoBanner {
    display: inline-flex;
    position: relative;
    color: rgb(255, 255, 255);
    background-color: transparent;
    margin: 0px;
    padding: 0px 1.5rem;
    height: 3rem;
    width: 100%;
    border: unset;
    font-weight: var(--font-weight-nintendo);
    font-size: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.spanBotonRojoBanner {
    display: block;
    position: absolute;
    background-color: rgb(230, 0, 18);
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    padding: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(230, 0, 18);
    border-radius: var(--border-radius-small);
    top: 0px;
    left: 0px;
    box-sizing: content-box;
    transform: none;
    content: "";
}

.spanBotonRojoBanner1 {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 1;
    order: initial;
    pointer-events: none;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.lineaBannerFeatured {
    display: flex;
    position: relative;
    max-width: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    flex-wrap: nowrap;
}

.lineaBannerFeatured1 {
    position: relative;
    width: 100%;
    margin: 0px;
    border-width: 0.0625rem 0px 0px;
    border-bottom-style: initial;
    border-bottom-color: initial;
    border-left-style: initial;
    border-left-color: initial;
    border-right-style: initial;
    border-right-color: initial;
    border-top-style: solid;
    border-top-color: rgb(218, 218, 218);
    z-index: 5;
}

hr {
    height: 0px;
    color: inherit;
}

.allContainCharacters {
    position: relative;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    scroll-margin-top: 120px;
}

.allContainCharacters1 {
    max-width: 71.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.allContainCharacters2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.h2CharactersCharacters {
    grid-column: 1 / span 2;
    font-size: 1.3125rem;
    font-weight: var(--font-weight-nintendo);
    line-height: 1.35rem;
    margin-block: 0;
}

.imgPjCharacters1:hover  {
    transform: scale(1.15);
    transition-duration: 200ms;
}

h2 {
    font-size: 1.125rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: var(--font-weight-nintendo);
    letter-spacing: 0px;
    margin: 0px 0px 1em;
    padding: 0px;
}

.divCharactersCharacters {
    display: flex;
    flex-direction: column;
}

.linkCharactersCharacters {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    border-radius: var(--border-radius);
}

.imgFondoCharacters {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    transform: scale(1.15);
    transition: transform 200ms ease-in-out 0s;
}

.imgFondoCharacters1 {
    display: block;
    width: 100%;
    min-height: 1px;
}

.imgPjCharacters {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    transition: transform 200ms ease-in-out 0s;
}

.imgPjCharacters1 {
    display: block;
    width: 100%;
    min-height: 1px;
}

.barraRojaFooter {
    display: grid;
    color: rgb(255, 255, 255);
    background-color: rgb(230, 0, 18);
    padding: 2.25rem 1rem;
    place-items: center end;
    -webkit-box-align: center;
}

.rrssLogos {
    display: grid;
    color: rgb(255, 255, 255);
    width: auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    place-items: center;
    -webkit-box-align: center;
}

.rrssLogos {
    max-width: 90rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

.rrssLogos a svg {
    display: block;
}

.footlistsFooter {
    background-color: rgb(255, 255, 255);
    padding: 2rem 1rem;
}

.allFootlistFooter {
    max-width: 90rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.allFootlistFooter1 {
    display: grid;
    grid-template-columns: 15.625rem;
    margin: 1rem auto;
    row-gap: 2rem;
    -webkit-box-pack: center;
    justify-content: center;
}

.divFootlistFooter1:first-child {
    grid-row: span 2;
}

.divFootlistFooter1 {
    border-left: 1px solid rgb(218, 218, 218);
    padding-left: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: var(--font-weight-nintendo);
    margin: 0px 0px 1em;
    padding: 0px;
    letter-spacing: 0px;
}

.aboutNintendoFooter {
    font-size: 1rem;
}

h2 {
    font-size: 1.125rem;
}

.linkAboutFooter, .linkAboutFooter1, .linkBarraNegraFooter {
    display: inline-block;
    color: rgb(230, 0, 18);
    background: transparent;
    margin: 0px;
    border: 0px;
    line-height: var(--line-text);
    border-radius: var(--border-radius);
    box-shadow: rgba(172, 0, 13, 0) 0px 0px 0px 4px;
    transition: box-shadow 200ms ease-in-out 25ms;
}

.linkAboutFooter:focus-visible, .linkAboutFooter:hover {
    color: rgb(172, 0, 13);
}

.linkAboutFooter1:focus-visible, .linkAboutFooter1:hover {
    color: rgb(172, 0, 13);
}

.linkAboutFooter:focus-visible, .linkAboutFooter:hover .spanAboutNintendo, .linkBarraNegraFooter:focus-visible, .linkBarraNegraFooter:hover .spanAboutNintendo {
    border-bottom-color: rgb(172, 0, 13);
    text-decoration: none;
}

.linkAboutFooter1:focus-visible, .linkAboutFooter1:hover .spanAboutNintendo {
    border-bottom-color: rgb(172, 0, 13);
    text-decoration: none;
}

.aboutNintendoFooter span {
    color: rgb(72, 72, 72);
    border-bottom-color: transparent;
    font-size: 1rem;
}

.spanAboutNintendo {
    position: relative;
    font-size: 0.875rem;
    font-weight: 700;
    padding-bottom: 0px;
    margin: 0px;
    border-bottom: 2px solid rgb(230, 0, 18);
    transition: border-bottom-color 200ms ease-in-out 25ms, color 200ms ease-in-out 25ms;
}

.ulAboutFooter {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

p, ol, ul {
    font-weight: 300;
    font-size: 0.875rem;
}

.linkAboutFooter1 {
    margin-bottom: 0.5rem;
}

.linkAboutFooter1 span {
    border-bottom-color: transparent;
}

.divFootlistFooter2 {
    grid-row: span 2;
    border-left: 1px solid rgb(218, 218, 218);
    padding-left: 1.5rem;
}

.divFootlistIcon {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 2rem;
    -webkit-box-align: center;
}

.linkIconFooter {
    display: block;
    grid-column: span 1;
    max-width: 4rem;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-self: center;
}

.svgIconFooter .cls-1 {
    fill: rgb(255, 255, 255);
}

.cls-1 {
    fill: #fff;
}

.svgIconFooter .cls-2 {
    fill: rgb(35, 31, 32);
}

.svgIconFooter .cls-3 {
    fill: rgb(8, 94, 169);
}

.svgIconFooter .cls-4 {
    fill: rgb(21, 16, 17);
}

.barraNegraFooter {
    color: rgb(255, 255, 255);
    background-color: rgb(36, 36, 36);
    padding: 2rem 1rem 114px;
    text-align: center;
}

.allBarraNegraFooter {
    max-width: 90rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.pBarraNegraFooter {
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.pBarraNegraFooter {
    margin: 0px;
    font-weight: 300;
    font-size: 0.625rem;
}

.pBarraNegraFooter span {
    display: block;
}

.infoBarraNegraFooter {
    display: inline-flex;
    gap: 1rem;
    justify-content: center;
    -webkit-box-pack: center;
}

.linkBarraNegraFooter {
    color: rgb(255, 255, 255);
}

.linkBarraNegraFooter span {
    font-size: 0.625rem;
    border-bottom-color: transparent;
}

.linkBarraNegraFooter:focus-visible, .linkBarraNegraFooter:hover {
    color: rgb(255, 255, 255);
}

.linkFlagTextFooter {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.spanFlagFooter {
    border: 1px solid white;
    border-radius: 0.25rem;
    overflow: hidden;
}

.spanFlagFooter img {
    display: block;
}

.spanFlagTextFooter {
    color: rgb(255, 255, 255);
    padding: 0px;
    font-size: 0.75rem;
    font-weight: var(--font-weight-nintendo);
    line-height: var(--line-text);
    margin-left: 0.5rem;
    border-bottom: 2px solid transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    transition: border-bottom-color 200ms ease-in-out 25ms, color 200ms ease-in-out 25ms;
}

.spanFlagTextFooter:focus-visible, .spanFlagTextFooter:hover {
    border-bottom-color: rgb(255, 255, 255);
}

.allBlockFeatured{
    position: relative;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    scroll-margin-top: 120px;
}

.titleFeatured {
    max-width: 90rem;
    margin: 0px 1rem;
}

.featuredTitle, .h2OnlineStore, .HeadingNews {
    font-weight: var(--font-weight-nintendo);
    line-height: 1.35;
    font-size: 1.3125rem;
    margin-block: 0px;
}

.allItemsFeatured {
    display: block;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.allItemsFeatured1 {
    position: relative;
}

.allItemsFeatured2 {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.allItemsFeatured3 {
    display: flex;
    justify-content: left;
    margin-right: 6rem;
}

.allItemsFeatured3::before, .allItemsFeatured3::after {
    display: block;
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
    content: "";
}

.allItemsFeatured4 {
    width: calc(66.6667% - 0.5rem);
    min-width: 208px;
    max-width: 268px;
    margin: 1rem 0.75rem;
    box-sizing: content-box;
    flex-shrink: 0;
}

.allItemsFeatured4:first-of-type {
    margin-left: 0px;
}

.allItemsFeatured4 > div {
    margin-top: 0px;
}

.allItemsFeatured5 {
    display: flex;
    position: relative;
    background-color: rgb(255, 255, 255);
    height: 100%;
    max-width: 13rem;
    border-radius: var(--border-radius);
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 1;
    flex-basis: 13rem;
    -webkit-box-pack: end;
}

.linkFeatured {
    display: flex;
    flex-direction: column;
    position: relative;
    color: rgb(72, 72, 72);
    width: 100%;
    max-width: 13rem;
    height: 100%;
    margin-top: 0px;
    border-radius: var(--border-radius);
}

.linkFeatured1, .subLinkFeatured1 {
    background-color: rgb(255, 255, 255);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border-width: 1px 1px 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: initial;
    border-top-color: rgb(218, 218, 218);
    border-right-color: rgb(218, 218, 218);
    border-left-color: rgb(218, 218, 218);
    border-image: initial;
    border-bottom-color: initial;
    overflow: hidden;
    z-index: 2;
    flex-shrink: 0;
}

.linkFeatured1Uno {
    display: block;
    position: relative;
}

.linkFeatured1Uno:hover .imgFeatured1 {
    transform: translateY(-1rem) translateZ(0px);
    overflow:visible
}

.linkFeatured1Uno::after {
    display: block;
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    content: "";
    opacity: 0;
    transition: opacity 200ms ease-in-out 25ms;
}

.linkFeatured1Uno1 {
    width: 100%;
    max-width: none;
    overflow: hidden;
}

.linkFeatured1Uno1Uno, .linkGamingSystems1, .linkNews1One1 {
    position: relative;
    width: 100%;
}

.imgFeatured1, .imgOnlineStore1, .imgGamingSystems1, .imgNews1 {
    display: block;
    width: 100%;
    min-height: 1px;
}

.linkFeatured1Uno1 img {
    position: absolute;
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: cover;
    inset: 0px;
}

.linkFeatured1Uno img {
    display: block;
    width: 100%;
}

.linkFeatured2 {
    position: relative;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border-width: 0px 1px 1px;
    border-top-style: initial;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-color: rgb(218, 218, 218);
    border-bottom-color: rgb(218, 218, 218);
    border-left-color: rgb(218, 218, 218);
    border-image: initial;
    border-top-color: initial;
    padding-top: 1rem;
    flex-grow: 1;
    -webkit-box-flex: 1;
}

.linkFeatured2::before {
    right: -1px;
}

.linkFeatured2::after, .linkFeatured2::before {
    position: absolute;
    background: rgb(218, 218, 218);
    height: 16px;
    width: 1px;
    top: -16px;
    content: "";
}

.linkFeatured2::after {
    left: -1px;
}

.fullLetrasFeatured {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0px 0.5rem;
    justify-content: space-between;
    -webkit-box-pack: justify;
}

.letrasFeatured1 {
    display: block;
    position: relative;
    height: 4rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
}

.h3LetrasFeatured {
    display: -webkit-box;
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-nintendo);
    margin: 0px;
    overflow: hidden;
    margin-block: 0px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.letrasFeatured2 {
    display: -webkit-box;
    background-color: rgb(230, 0, 18);
    color: rgb(255, 255, 255);
    width: fit-content;
    min-height: 16px;
    padding: 0px 0.5rem;
    font-weight: var(--font-weight-nintendo);
    font-size: 0.625rem;
    line-height: 16px;
    align-items: center;
    border-radius: var(--border-radius);
    overflow: hidden;
    -webkit-box-align: center;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.letrasFeatured2Dos {
    display: -webkit-box;
    background-color: rgb(75, 92, 206);
    color: rgb(255, 255, 255);
    width: fit-content;
    min-height: 16px;
    padding: 0px 0.5rem;
    font-weight: var(--font-weight-nintendo);
    font-size: 0.625rem;
    line-height: 16px;
    align-items: center;
    border-radius: var(--border-radius);
    overflow: hidden;
    -webkit-box-align: center;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.letrasFeatured3 {
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    min-width: 0.5rem;
    min-height: 0.5rem;
}

.letrasFeatured4 {
    display: grid;
    grid-template-columns: 1fr 2.5rem;
    height: 1.5rem;
    margin-bottom: 0.5rem;
}

.letrasFeatured4Uno {
    display: flex;
    font-size: 0.625rem;
    font-weight: 300;
    align-items: flex-start;
}

.letrasFeatured4Uno1 {
    display: block;
    background-color: rgb(230, 0, 18);
    width: 2px;
    height: 0.875rem;
    margin-right: 0.25rem;
}

.subLinkFeatured {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    max-width: 13rem;
    height: 100%;
    border-radius: var(--border-radius);
    left: 0px;
    bottom: 0px;
    z-index: 5;
    pointer-events: none;
    opacity: 0;
    transition: opacity 200ms ease-in-out 0ms;
}

.subLinkFeatured2 {
    color: rgb(200, 200, 200);
    position: relative;
    width: 100%;
    animation-name: wRsAg;
    animation-timing-function: ease-in-out;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.subLinkFeatured2 {
    margin-bottom: 0.5rem;
}

.subLinkFeatured3 {
    display: block;
    background-color: currentcolor;
    width: 100%;
    height: 0px;
    padding-bottom: calc(56.34% - 2px);
    border: 1px solid currentcolor;
}

.subLinkFeatured3 svg {
    display: block;
    position: absolute;
    width: 45.072%;
    left: 50%;
    top: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
}

.subLinkFeatured3 svg path {
    fill: rgb(255, 255, 255);
}

.botonFeatured1 {
    color: rgb(218, 218, 218);
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    height: 100%;
    margin: 0px;
    padding: 1rem;
    top: 0px;
    left: 0px;
    border: none;
    border-radius: var(--border-radius-small);
    z-index: 10;
    outline-offset: -2px;
    opacity: 0 !important;
    pointer-events: none !important;
    transform: translateZ(0px);
    transition: all 200ms ease-in-out 25ms;
}

.botonFeatured1 svg {
    display: block;
    transform-origin: 50% 50%;
    transition: transform 200ms ease-in-out 25ms;
}

.botonFeatured2 {
    color: rgb(218, 218, 218);
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    height: 100%;
    margin: 0px;
    padding: 1rem;
    top: 0px;
    right: 0px;
    border: none;
    border-radius: var(--border-radius-small);
    z-index: 10;
    outline-offset: -2px;
    opacity: 1;
    pointer-events: none;
    transform: translateZ(0px);
    transition: all 200ms ease-in-out 25ms;
}

.botonFeatured2 svg {
    display: block;
    transform-origin: 50% 50%;
    transition: transform 200ms ease-in-out 25ms;
}

.allBlockOnlineStore {
    max-width: 71.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.allBlockOnlineStore1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    -webkit-box-align: center;
    align-items: center;
}

.linkOnlineStore {
    width: 100%;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.linkOnlineStore1 {
    position: relative;
    width: 100%;
    height: 0px;
    padding-top: 15.3846%;
    overflow: hidden;
}

.linkOnlineStore2 {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
}

.pOnlineStore, .pGamingSystems {
    min-height: 1rem;
    margin: 1em 0px;
}

.textoOnlineStore p {
    font-size: 1.125rem;
}

.linkGamingSystems {
    width: 100%;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.textoGamingSystems h1, .textoGamingSystems h2, .textoGamingSystems h3, .textoGamingSystems h4, .textoGamingSystems p {
    margin: 1em 0px;
    font-size: 1.125rem;
}

strong, b {
    font-weight: var(--font-weight-nintendo);
}

.allBlockNews {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
}

.allBlockNews1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.divNews1 {
    grid-column: 1 / span 2;
  }

  .divNews2 {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    position: relative;
    height: 100%;
    justify-content: flex-end;
    border-radius: var(--border-radius);
    -webkit-box-pack: end;
}

.linkNews {
    display: flex;
    flex-direction: column;
    color: rgb(72, 72, 72);
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    border-radius: var(--border-radius);
}

.linkNews1 {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    overflow: hidden;
    z-index: 2;
    flex-shrink: 0;
}

.linkNews1One {
    display: block;
    position: relative;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    overflow: hidden;
}

.linkNews1One img {
    display: block;
    width: 100%;
}

.linkNews2 {
    position: relative;
    padding-top: 1rem;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    flex-grow: 1;
    -webkit-box-flex: 1;
}

.linkNews2Uno {
    height: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.pNews {
    font-family: var(--nintendo-font-search);
    margin: 0rem 0rem 0.5rem;
    font-size: var(--font-size-text);
    font-weight: 300;
}

.h3News {
    display: -webkit-box;
    margin: 0px;
    font-size: 1rem;
    font-weight: var(--font-weight-nintendo);
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.pNews1 {
    display: -webkit-box;
    font-family: var(--nintendo-font-search);
    height: calc(2.8em);
    margin: 0rem 0rem 0.5rem;
    font-size: var(--font-size-text);
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.readMoreNews {
    position: relative;
    color: rgb(230, 0, 18);
    width: fit-content;
    padding: 0px;
    padding-bottom: 0px;
    margin: 0px;
    font-weight: var(--font-weight-nintendo);
    border-bottom: 2px solid rgb(230, 0, 18);
    text-align: left;
    transition: border-bottom-color 200ms ease-in-out 25ms, color 200ms ease-in-out 25ms;
}

.linkNewsDos {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    bottom: 0px;
    border-radius: var(--border-radius);
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    transition: opacity 200ms ease-in-out 0ms;
}

.divNews1Dos {
    grid-column: 1 / span 2;
}

.h3News1 {
    display: -webkit-box;
    margin: 0px;
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-nintendo);
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.botonRojoNews {
    display: inline-flex;
    color: rgb(255, 255, 255);
    background-color: transparent;
    position: relative;
    height: 3rem;
    width: 100%;
    margin: 0px;
    padding: 0px 1.5rem;
    border: unset;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: var(--font-weight-nintendo);
    font-size: 1rem;
    white-space: nowrap;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.spanNews1 {
    display: block;
    background-color: rgb(230, 0, 18);
    position: absolute;
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    top: 0px;
    left: 0px;
    padding: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(230, 0, 18);
    border-radius: var(--border-radius-small);
    box-sizing: content-box;
    content: "";
}

.botonRojoNews > svg, .botonRojoNews > img {
    height: 1.125rem;
    width: auto;
    margin-left: 0px;
    margin-right: 1rem;
    z-index: 1;
}

.spanTextoNews {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    order: initial;
    z-index: 1;
    pointer-events: none;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

#bestSellersansNewReleases {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: 0 auto;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: var(--nintendo-font);
    font-size: 16px;
    line-height: var(--line-text-font);
    color: var(--color-font);
    margin-left: 48px; 
    
}
#h1BestSeller, #h1NewReleases {
    padding: 0px 16px 0px 0px;
    border-right: 1px solid rgb(218, 218, 218);
    border-right-width: 0.8px;
    font-weight: 700;
    font-size: 28px;
}
.seeFullList {
    text-decoration: none;
    color: #E60012;
    cursor: pointer;
    position: relative;
    border-bottom: 2px solid rgb(230, 0, 18);
    margin-left: 16px;
    transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
}

.seeFullList:hover {
    color: #AC000D;
    border-bottom-color: rgb(170, 0, 14);
    
}
#bestSellerCards, #newReleasesCards {
    justify-content: left;
    display: flex;
    position: relative;
    z-index: 0;
    max-width: fit-content;
    right: 40px;
    padding-left: 120px;
    
}
#bestSellerCards {
    margin-bottom: 50px;
}

.grayArea {
    width: 65px;
    height: 381px;
    background-color: gray;
    opacity: 50%;
    position: absolute;
    right: -0px;
    border-radius: 10px;
    top: 0;
    z-index: 1;
    cursor: pointer;
}

.grayArea::before {
    content: '>';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(200, 200, 200, 0.7); 
    font-size: 80px; 
}

.grayArea:hover {
    opacity: 80%;
}

.grayArea:hover::before {
    color: white;
}

.bestSellerCard, .newReleasesCard {
    border-radius: 10px;
    border: 1px solid rgb(218, 218, 218);
    height: 316px;
    width: 262px;
    margin: 24px;
    display: block;
    cursor: pointer;
}
#lastBestSellerCard, #lastNewReleasesCard {
    margin-right: 0;
}

.newReleasesCard {
    height: 342px;
}

.imgCard {
    width: 262px;
    height: 147.25px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#headerBestSeller, #headerNewReleases {
    display: flex;
    align-items: center;
    height: 37.8px;
    width: 940.8px;
    margin-left: 80px;
    margin-bottom: 20px;
}

.titleBestSeller, .titleReleasesCard{
    color: var(--color-font);
    
    text-decoration: none;
}
.bestSellerCard:hover .titleBestSeller, .newReleasesCard:hover .titleReleasesCard{
    color: #e60012;
    cursor: pointer;
}
.bestSellerCard:hover .imgCard, .newReleasesCard:hover .imgCard{
    transform: translateY(-10px);
}
.consoleReleasesCard, .consoleBestSeller {
    font-size: 14px;
    font-size: 0.875rem;
    font-family: var(--nintendo-font-search);
}


.separator {
    display: block;
    width: 2px;
    margin-right: 6px;
    height: 1rem;
    background-color: rgb(230, 0, 18);
}

.textcard {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1rem 1rem;
    position: relative;
    height: 152px;
    display: flex;
    flex-direction: column;
    height: 169px;
    overflow: auto;
}
.newReleasesCard .textcard {
    height: 196px;
}

.titleDate {
    height: 64px;
    margin-bottom: 16px;
}
.priceNintendo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    bottom: 10px;
    left: 16px;
}
.regularPriceReleasesCard{
    text-decoration: line-through;
    font-family: var(--nintendo-font-search);
    font-size: 0.75rem;
    padding: 0 8px 0 8px;
    margin: 0;
}
.discount {
    display: flex;
    
}
.heartContainer{
    overflow: hidden;
}
.heart {
    padding: 0.5rem;
    position: absolute;
    bottom: 10px;
    right: 0px; 
    transition: transform 0.3s ease;
}

.imagen-hover{
    visibility: hidden;
    padding: 0.5rem;
    position: absolute;
    bottom: 10px;
    right: 0px; 
    height: 40px;
    width: 40px;
}

.heartContainer:hover .heart {
    visibility: hidden;
}

.heartContainer:hover .imagen-hover {
    visibility: visible;
}

.sepCon {
    display: flex;
    align-items: flex-start;
    font-size: 0.875rem;
    font-weight: 300;
}
.separator, .consoleBestSeller {
    display: inline-block;
    vertical-align: middle;
}

.separator, .consoleReleasesCard {
    display: inline-block;
    vertical-align: middle;
}

.labelReleasesCard{
    border-radius: 1rem;
    padding: 3px 7px 3px 7px;
    background-color: #e60012;
    font-size: 0.75rem;
    color: white;
    width: fit-content;
    margin-bottom: 8px;
    height: 19px;
}


.dateBestSeller {
    font-weight: 300;
    /*line-height: 2.35;*/
    margin-top: 5px;
    font-size: 0.75rem;
    
    font-family: var(--nintendo-font-search);
}

.discountLabelReleasesCard {
    padding: 3px 7px 3px 7px;
    background-color: #e60012;
    font-size: 0.75rem;
    color: white;
    width: fit-content;
    height: 1.25rem;
    position: relative;
}

.discountLabelReleasesCard::before{
    content: "";
    background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%207.36%2020%22%3E%20%20%20%20%3Cpath%20d%3D%22M7.369%200v20h-.181c-.558%200-1.094-.222-1.489-.617L.621%2014.305c-.397-.397-.62-.937-.616-1.5l.029-5.627c.003-.553.223-1.082.612-1.474L5.699.621C6.094.224%206.63%200%207.192%200h.177z%22%20fill%3D%22%23e60012%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E) no-repeat;
    position: absolute;
    height: 100%;
    width: 20px;
    left: -7px;
    top: 0;
}

.priceReleasesCard {
    font-size: 1rem;
    position: relative;
}

#footnote {
    font-size: 0.75rem;
    font-family: var(--nintendo-font-search);
    display: flex;
    flex-direction: column;
     justify-content: flex-start; 
     padding-right: 40px;
     margin-right: 20px;
}

.priceBestSeller, .priceReleasesCard {
    margin: 0;
}

.link {
    line-height: 2, 35;
    font-family: var(--nintendo-font);
    text-decoration: none;
    color: #E60012;
    cursor: pointer;
    position: relative;
    border-bottom: 2px solid rgb(230, 0, 18);
    transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
}


.link:hover {
    color: #AC000D;
    border-bottom-color: rgb(170, 0, 14);
}

.gruposBSNR {
    margin-bottom: 2rem;
}

